<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Runtracker</H1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio nisi soluta, beatae tempore consequuntur deleniti esse exercitationem cumque impedit delectus quo facere ea sapiente enim, sunt sed. Sit, repellendus blanditiis!</p>

    <form action="/submit" method="POST">
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="time">Time:</label>
        <input type="text" id="time" name="time" required><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>